* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	background-color: #000;
}

.fullcontainer {
	background-image: url(https://imgur.com/vbyguTE.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.workingcontent {
	backdrop-filter: blur(4px);
	width: 100vw;
	height: 100vh;
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.workingcontent > h1 {
	font-size: 5rem;
	margin-bottom: -50px;
	color: #edff00;
	font-family: 'Cashkings';
	z-index: 99;
}

.workingcontent > img {
	margin-top: 0;
}

@font-face {
	font-family: "Cashkings"; /*Can be any text*/
	src: local("Cashkings"), url("./fonts/Cashkings.ttf") format("truetype");
}
