* {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
  background-color: #000;
}

.fullcontainer {
	background-image: url(https://imgur.com/vbyguTE.png);
}

.workingcontent{
  width: 100vw;
	height: 100vh;
	color: #fff;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.workingcontent > h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 0;
}

.workingcontent > img {
	margin-top: 0;
}
